%section.title-template(data-state="no-background")
  %h1 Mode Set
  %h2 Presentation Name
  %h2 Continued or presenter
  %date 01.29.2013
  = image_tag "showboat/title-smoke.png", alt: "mode set", class: "smoke"
  = image_tag "showboat/slant.png", alt: "/", class: "slant"
  = image_tag "showboat/modeset-logo.png", alt: "mode set", class: "logo"

  %aside.notes
    talk fast

-# Copy Template
%section.copy-template(data-heading="Copy Template <span>Sub Heading</span>")
  :markdown
    # Start with an h1 heading
    Yeah, well, listen. You ought to ditch the two geeks you're in the car with
    now and get in with us. But that's alright, we'll worry about that later.
    I will see you there. All right?  Man, I love those redheads.

  %aside.notes
    This is a note

-# List Template
%section.list-template(data-heading="List Template <span>This is purely a list</span>")
  :markdown
    - this is a list on it's own
    - lives under the list-template class
    - If you have some sub points
      - Use nested lists
      - and like this
    - ordered lists look like unordered lists

%section.list-template(data-heading="List Template <span>This is purely a list</span>")
  %h1 Fragments
  %ul
    %li.fragment.fade-in Utilize fragments for building lists
    %li.fragment.fade-in You can use fragments anywhere
    %li.fragment.fade-in Attach the class to an element
    %li.fragment.fade-in Arrow down for various fragment styles

-# Media Template
%section.media-template(data-heading="Media Template <span>Project Name</span>" data-link="Example.com" data-src="http://www.modeset.com")
  = image_tag "showboat/fpo/fpo-tablet-handheld-laptop.png", alt: "fpo", class: "reflect"

-# So long, thanks much
%section.end-template
  %h1 thank you
  = image_tag "showboat/slant.png", alt: "/", class: "slant"
  = image_tag "showboat/modeset-logo.png", alt: "mode set", class: "logo"

